{% extends "main.html" %} {% block content %} {% include "header.html" %} 
{% include "banner.html" %} {% include "catalog_set.html" %}
<div>
    <h3 class="title">Latest items</h3>
    <section class="catalog_entries">
        {% for i in latest_item %}
        <div class="catalog_entries_item">
            <img src="{{i.item_image}}" alt="{{i.Iname}}">
            <div class="catalog_entries_overlay">
                <div class="catalog_entries_content">
                    <span>{{i.Iname}}</span>
                    <span>({{i.Cname}})</span>
                    <a class="btn btn-primary" role="button" href='{{url_for('showItemDesc',catalog_name = i.Cname, item_name = i.Iname)}}'>View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</div>
{% include "footer.html" %} {% endblock %}
